{% extends 'ecom/base.html' %}

{% load static %}
{% block title %}About{% endblock title %}


{% block main-content %}

    <div style="font-size: 3rem;" class="text-center">About Us</div>
    <div class="about-us text-center"> 
        <p style="font-size: small; padding-left: 20px;" class="text-start fw-bold">
Gujarat Cooperative Milk Marketing Federation Ltd. (GCMMF), is India's largest food product marketing organisation with annual turnover (2021-22) US$ 6 billion. Its daily milk procurement is approx 28 million lit per day from 18,554 village milk cooperative societies, 18 member unions covering 33 districts, and 3.6 million milk producer members. Today, it has milk procurement operations running in more than 12 states and working with more than 1 million milk producers outside Gujarat as well. <br><br>

It is the Apex organisation of the Dairy Cooperatives of Gujarat, popularly known as 'HerdToHome', which aims to provide remunerative returns to the farmers and also serve the interest of consumers by providing quality products which are good value for money. Its success has not only been emulated in India but serves as a model for rest of the World. It is exclusive marketing organisation of 'HerdToHome' and 'Sagar' branded products. It operates through 90 Sales Offices and has a dealer network of 10000 dealers and 10 lakh retailers, one of the largest such networks in India. Its product range comprises milk, milk powder, health beverages, ghee, butter, cheese, Pizza cheese,Ice-cream, Paneer, chocolates, and traditional Indian sweets, etc. <br><br>

Amul has always been a pioneer when it comes to adoption of new technologies across the Business segments, process, products and innovating ways to reach out to our consumers at the every corner of the country. This D2C initiative is one more way to reach out to our consumers directly, apart from all the current channel.
        </p>
    </div>

{% endblock main-content %}