<!-- {% extends 'ecom/base.html' %}

{% load static %}


{% block addtocart %}

    <div class="container my-5">
        <div class="row">
            <h1 class="text-center mb-5">Shopping Cart</h1>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h3>Cart</h3>
                        <div class="row">
                            <div class="col-sm-3 text-center align-self-center"> 
                                <img src="{{ item.item_img }}" alt="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></div>
                                <div class="col-sm-9">
                                    <div>
                                        <h5>{{ item.item_name }}</h5>
                                        <p class="mb-2 text-muted small">{{ item.item_desc | truncatewords:8 }}</p>
                                        <div class="my-3">
                                            <label for="quantity">Quantity</label>
                                            <a class="minus-cart btn"><i class="fas fa-minus-square fa-lg"></i></a>
                                            <span id="quantity">{{ item.quantity }}</span>
                                            <a href=""></a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div>

{% endblock addtocart %} -->