{% extends 'ecom/base.html' %}
{% load static %}

    {% block category %}

    <br><br>

        {% for obj in items %}

        <div class="row mb-3">
            <a class="col-md-3 offset-md-2 ">
                <img
                src="{{ obj.item_img }}"
                class="card"
                height="135px"
                width="230px"
                >
            </a>

            <div class="col-md-4">

                <h3 style="font-size: 1.5rem;">
                    {{ obj.item_name }}
                </h3>

                <h5 style="font-style: italic; font-size: 1rem;">
                    {{ obj.item_desc | truncatewords:20 }}
                </h5>

                <h6>
                    ${{ obj.item_price }}
                </h6>

                <a href="{% url 'ecom:detail' obj.id %}">
                    <button type="button" class="btn btn-outline-success">Detail</button>
                </a>
            </div>
        </div>

        {% endfor %}

    {% endblock category%}
