{% extends 'ecom/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    {% block details %}

    <div style="margin-top: 3%;" class="row">
        <div class="col-md-2 offset-md-1">
            <img height="150px" width="250px" class="card" src="{{ item.item_img }}">
        </div>

        <div class="col-md-4 offset-md-1">

            <h1 style="font-style: italic;">
                {{ item.item_name }}
            </h1>

            <h2 style="font-style: italic; font-size: 1.3rem; text-align: justify;">
                {{ item.item_desc }}
            </h2>

            <h3 style="font-style: italic;">
                ${{ item.item_price }}
            </h3>
        </div>
        
        <div class="col-md-3 offset-md-1">
            
            <a  href="#" style="width: 80px;" class="btn btn-warning">Edit</a>

            <a href="{% url 'ecom:delete_item' item.id %}" style="width: 80px;" class="btn btn-danger">Delete</a>

            <a href="{% url 'ecom:index' %}" style="width: 80px;" class="btn btn-success">Back</a>
        </div>
        
    </div>

    <div class="d-grid gap-2 col-3 mx-auto">
        <a href="#" class="btn btn-dark" type="button" >Add to Cart </a>
        <a href="#" class="btn btn-secondary" type="button">Buy Now</a>
    </div>
    

    {% endblock details %}
